{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<title>Junior Python Developer | Experience | msnkr</title>
<div class="container" id="experience">
    <h1><span id="numbers">03.</span>Experience</h1>
    <p id="descriptionText">
        Although I have no professional work experience in web design/development, I am profecient using Django, Wix, Wordpress. I also have experience in Photoshop, Illustrator and CorelDraw.<br><br> 
    </p>
    <div class="row" id="linea-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/LineaclassicaScreenshot.jpg' %}" alt="website created with wix" width="100%" class="mt-2">
        </div>
        <div class="col-sm" id="linea-text">
            <h4><a id="linea-text-a" href="https://www.lineaclassica.co.za">www.lineaclassica.co.za</a></h4>
            <p><small><ul>
                <li>Wix website</li>
                <li>Logo redesign.</li>
                <li>Worked closely with the customer.</li>
                <li>Rebrand of the entire website.</li>
                <li>Fix performance related issues.</li>
                <li>Add and remove products.</li>
                <li>Optimized customer retention.</li>
            </ul></small></p>
        </div>
    </div>
    <div class="row mt-3" id="vish-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/GrvinvestmentsScreenshot.jpg' %}" alt="website created with Django, Python" width="100%" class="mt-5">
        </div>
        <div class="col-sm" id="vish-text">
            <h4><a id="vish-text-a" href="https://grvinvestments.pythonanywhere.com/">www.grvinvestments.co.za</a></h4>
            <p><small><ul>
                <li>Used custom Django-Python code to create a backend for the customer.</li>
                <li>Logo redesign.</li>
                <li>Maintaining an organized workflow using a project management tool (GitHub).</li>
                <li>Testing to identify bugs and technical issues before and after deploying.</li>
                <li>Bringing mock-ups to life using HTML, CSS, JavaScript and Bootstrap.</li>
                <li>Identifying innovative ideas and proof of concepts according to project requirements.</li>
                <li>Providing guidance and troubleshooting support to clients.</li>
                <li>Stripe.</li>
                <li>Mobile compatible with @media</li>
            </ul></small></p>
        </div>
    </div> 
    <div class="row mt-3" id="tycole-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/TycoleScreenshot.jpg' %}" alt="website created with Django, Python" width="100%" class="mt-5">
        </div>
        <div class="col-sm" id="tycole-text">
            <h4><a id="tycole-text-a" href="https://tycole.pythonanywhere.com/">www.tycole.co.za</a></h4>
            <p><small><ul>
                <li>Worked closely with the customer to create, design and deploy.</li>
                <li>Logo redesign.</li>
                <li>Custom image optimization with Python.</li>
                <li>Used custom Django-Python code to create a backend for the customer.</li>
                <li>Maintaining an organized workflow using a project management tool (GitHub).</li>
                <li>Testing to identify bugs and technical issues before and after deploying.</li>
                <li>Bringing mock-ups to life using HTML, CSS, JavaScript and Bootstrap.</li>
                <li>Identifying innovative ideas and proof of concepts according to project requirements.</li>
                <li>Providing guidance and troubleshooting support to clients.</li>
                <li>Mobile compatible with @media</li>
            </ul></small></p>
        </div>
    </div>
    <div class="row mt-3" id="thelanguageguild-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/ThelanguageguildScreenshot.jpg' %}" alt="Wordpress website developer" width="100%">
        </div>
        <div class="col-sm" id="thelanguageguild-text">
            <h4><a id="thelanguageguild-text-a" href="https://thelanguageguild.co.za/">www.thelanguageguild.co.za</a></h4>
            <p><small><ul>
                <li>Wordpress and Elementor.</li>
                <li>Logo redesign.</li>
                <li>Fixed security issues and updates.</li>
                <li>Worked closely with the customer to create, design and deploy.</li>
                <li>Keep future customers engaged in the products offered.</li>
                <li>Mobile compatible.</li>
            </ul></small></p>
        </div>
    </div> 
    <div class="row mt-3" id="baloyi-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/BaloyiScreenshot.jpg' %}" alt="Wordpress website developer" width="100%">
        </div>
        <div class="col-sm" id="baloyi-text">
            <h4 id="no-link">(No Domain Yet)</h4>
            <p><small><ul>
                <li>Wix website.</li>
                <li>Logo redesign.</li>
                <li>Worked from company profile.</li>
                <li>Mobile compatible.</li>
            </ul></small></p>
        </div>
    </div> 
</div>
{% endblock body %}
