#hiMyNameIs {
    margin-top: 15%;
}

#hiMyNameIsP {
    animation-name: hiMyNameIsP;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    color: lightcoral;
}

@keyframes hiMyNameIsP {
    20% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}

#hiMyNameIsH1 {
    animation-name: hiMyNameIsH1;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    font-size: 500%;
    color: lightcoral;
    animation-iteration-count: infinite;
}

@keyframes hiMyNameIsH1 {
    20% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    background-color: aliceblue;
}

.navbar-nav a {
    color: black;
}

.navbar-nav:hover a:hover {
    color: salmon;
}

#iBuildThings {
    animation-name: iBuildThings;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    color: lightcoral;
}

@keyframes iBuildThings {
    20% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}

h1, h2, h3, h4 {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}

#aboutMe, #experience, #contactMe, #projects, #thankYou {
    margin-top: 15%;
    color: lightcoral;
}

#numbers {
    color: black;
}

#descriptionText {
    margin-right: 50%;
    color: black;
}

#githubIcon {
    color: lightcoral;
}

#heartIcon {
    color: lightcoral;
}

#resumeButton a {
    color: white;
    text-decoration: none;
}

.btn, .btn-primary {
    background-color: salmon !important;
    text-decoration: none !important;
    border: none !important;
}

.btn :hover :visited, .btn-primary :hover:visited {
    background-color: aliceblue !important;
    text-decoration: none !important;
    border: none !important;
    color: aliceblue !important;
}

#radixSort, #radixSort:visited {
    color: salmon;
    text-decoration: none;
}

#radixSort a :hover {
    color: black !important;
}

#aboutMe h1, #contactMe h1, #experience h1, #projects h1 {
    animation-name: pageHeaders;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    color: lightcoral;
}

@keyframes pageHeaders {
    20% {opacity: 0;}
    100% {opacity: 1;}
}


#folders {
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 1%;
}

#linea-text {
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
}

#linea-exp {
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 1%;
}

#linea-exp h4 {
    text-decoration: none;
}

h4 a {
    text-decoration: none;
    color: black;
}

.thank-you-page {
    margin-top: 15%;
    color: lightcoral;
}

#checkProjects, #checkProject:visited {
    color: salmon;
    text-decoration: none;
}

#checkProject a :hover {
    color: black !important;
}