#hiMyNameIs {
    margin-top: 15%;
}

#hiMyNameIsP {
    animation-name: hiMyNameIsP;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    color: salmon;
}

@keyframes hiMyNameIsP {
    20% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}

#hiMyNameIsH1 {
    animation-name: hiMyNameIsH1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    font-size: 500%;
    color: lightcoral;
}

@keyframes hiMyNameIsH1 {
    20% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    background-color: aliceblue;
}

#navLink :hover {
    color: lightgreen !important;
}