#hiMyNameIs {
    margin-top: 10%;
}

#hiMyNameIsP {
    animation-name: hiMyNameIsP;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    color: var(--pastelGreen);
}

@keyframes hiMyNameIsP {
    20% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}

#hiMyNameIsH1 {
    animation-name: hiMyNameIsH1;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    font-size: 500%;
    color: var(--pastelPurple);
    animation-iteration-count: infinite;
}

@keyframes hiMyNameIsH1 {
    20% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    background-color: var(--pastelBeige);
}

.navbar-nav a {
    color: black;
}

.navbar-nav:hover a:hover {
    color: var(--pastelPurple);
}

#iBuildThings {
    animation-name: iBuildThings;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    color: var(--pastelGreen);
}

@keyframes iBuildThings {
    20% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}

h1, h2, h3, h4 {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}

#aboutMe, #experience, #projects, #thankYou {
    margin-top: 10%;
    color: var(--pastelGreen);
}

#numbers {
    color: black;
}

#descriptionText {
    margin-right: 10%;
    color: black;
}

#githubIcon {
    color: var(--pastelPurple);
}

#heartIcon {
    color: var(--pastelPurple);
}

#resumeButton a {
    color: white;
    text-decoration: none;
}

.btn, .btn-primary {
    background-color: var(--pastelPurple) !important;
    text-decoration: none !important;
    border: none !important;
}

.btn :hover :visited, .btn-primary :hover:visited {
    background-color: var(--pastelBeige) !important;
    text-decoration: none !important;
    border: none !important;
    color: var(--pastelBeige) !important;
}

#radixSort, #radixSort:visited {
    color: var(--pastelPurple);
    text-decoration: none;
}

#radixSort a :hover {
    color: black !important;
}

#aboutMe h1, #contactMe h1, #experience h1, #projects h1 {
    animation-name: pageHeaders;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    color: var(--pastelGreen);
}

@keyframes pageHeaders {
    20% {opacity: 0;}
    100% {opacity: 1;}
}


#folders, #folders-1{
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}

#folders h4, #folders-1 h4 {
    color: var(--pastelPurple);
}

#folders p, #folders-1 p {
    color: black;
}

#linea-text {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#linea-exp {
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}

#linea-exp h4 {
    text-decoration: none;
}

#vish-text {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#vish-exp {
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}
#vish-exp h4 {
    text-decoration: none;
}

#tycole-text {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#tycole-exp {
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}

#tycole-exp h4 {
    text-decoration: none;
}

#thelanguageguild-text {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#thelanguageguild-exp {
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}

#thelanguageguild-exp h4 {
    text-decoration: none;
}

#baloyi-text {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

#baloyi-exp {
    border: 1px solid var(--pastelPink);
    border-radius: 5px;
    padding: 1%;
}

#no-link {
    text-decoration: line-through;
    color: black;
}

h4 a {
    text-decoration: none;
    color: black;
}

.thank-you-page {
    margin-top: 15%;
    color: var(--pastelPurple);
}

#checkProjects, #checkProject:visited {
    color: var(--pastelPurple);
    text-decoration: none;
}

#checkProject a :hover {
    color: black !important;
}


@media screen and (max-width: 600px){
    #linea-text {
        margin-left: 0%;
    }

    #linea-exp {
        border: none;
        padding: 5%;
    }

    #vish-text {
        margin-left: 0%;
    }

    #vish-exp {
        border: none;
        padding: 5%;
    }

    #tycole-text {
        margin-left: 0%;
    }

    #tycole-exp {
        border: none;
        padding: 5%;
    }
    #thelanguageguild {
        margin-left: 0%;
    }

    #thelanguageguild-exp {
        border: none;
        padding: 5%;
    }

    #baloyi {
        margin-left: 0%;
    }

    #baloyi-exp {
        border: none;
        padding: 5%;
    }

    #folders {
        padding: 5%;
        border: none;
        align-items: center;
        margin-left: 4%;
    }

    #folders-1 {
        padding: 5%;
        border: none;
        align-items: center;
    }

    #hiMyNameIs, #aboutMe, #experience, #projects, #contactMe h1 {
        margin-top: 20%;
        text-align: center;
    }

    #descriptionText {
        text-align: center;
        margin: 5%;
    }

    #homePageInfo p {
        margin-left: 10%;
        margin-right: 10%;
    }

    .captcha-form {
        max-width: 5%;
    }
}

.captcha-form {
    max-width: 20%;
}

#contactMe {
    margin-top: 5%;
}

#githubIcon {
    color: var(--pastelPurple);
    animation-name: icon;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

@keyframes icon {
    20% {color: var(--pastelBeige);}
    40% {color: var(--pastelGreen);}
    60% {color: var(--pastelPink);}
    80% {color: var(--pastelPurple);}
}

/* Pastel Colors  */
:root {
    --pastelGreen: #92DED1;
    --pastelBeige: #F9F9F9;
    --pastelPink: #F6C6EA;
    --pastelPurple: #C490E4
}

#myImage img {
    border: #CDF0EA 5px solid;
    -webkit-filter: grayscale(80%);
    filter: 80%;
}

#myImage img:hover{
    border: #F6C6EA 5px solid;
    -webkit-filter: grayscale(0%);
    filter: 0%;
}

#descriptionText {
    margin-right: 10%;
}