{% extends 'portfo_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container" id="contactMe">
    <h1><span id="numbers">04.</span>Contact Me</h1>
    <p id="descriptionText">
        {% if form %}
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm m-2 text-center">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-sm m-2 text-center">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="m-2 text-center">
                {{ form.message|as_crispy_field }}
            </div>
            <div class="m-2 text-center">
                {{ form.captcha }}
            </div>
            <div class="text-center">
                <button class="btn btn-primary m-5">Contact</button>
            </div>
        </form>
        {% endif %}
    </p>
</div>
{% endblock body %}
