{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<title>Junior Python Developer | Experience | msnkr</title>
<div class="container" id="experience">
    <h1><span id="numbers">03.</span>Experience</h1>
    <p id="descriptionText">
        Although I have no professional work experience in web design/development, I am profecient using Django, Wix, Wordpress. I also have experience in Photoshop, Illustrator and CorelDraw.<br><br> 
    </p>
    <div class="row" id="linea-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/Optimized-linea.jpg' %}" alt="website created with wix" width="100%">
        </div>
        <div class="col-sm" id="linea-text">
            <h4><a id="linea-text-a" href="https://www.lineaclassica.co.za">www.lineaclassica.co.za</a></h4>
            <p>I worked closely with this client to rebrand this website using Wix.</p>
        </div>
    </div>
    <div class="row mt-3" id="vish-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/optimized_vish.jpg' %}" alt="website created with Django, Python" width="100%">
        </div>
        <div class="col-sm" id="vish-text">
            <h4><a id="vish-text-a" href="https://grvinvestments.pythonanywhere.com/">www.grvinvestments.co.za</a></h4>
            <p>Customer sells products with a site I created using Django, CSS, HTML, and Bootstrap.</p>
        </div>
    </div> 
    <div class="row mt-3" id="tycole-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/optimized_tycole.jpg' %}" alt="website created with Django, Python" width="100%">
        </div>
        <div class="col-sm" id="tycole-text">
            <h4><a id="tycole-text-a" href="https://tycole.pythonanywhere.com/">www.tycole.co.za</a></h4>
            <p>A website I did for a company. Django, HTML, CSS, and Bootstrap</p>
        </div>
    </div>
    <div class="row mt-3" id="thelanguageguild-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/optimized_tycole.jpg' %}" alt="website created with Django, Python" width="100%">
        </div>
        <div class="col-sm" id="thelanguageguild-text">
            <h4><a id="thelanguageguild-text-a" href="https://thelanguageguild.co.za/">www.thelanguageguild.co.za</a></h4>
            <p>Website made with Wordpress and Elementor</p>
        </div>
    </div> 
</div>
{% endblock body %}
