{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<div class="container" id="experience">
    <h1><span id="numbers">03.</span>Experience</h1>
    <p id="descriptionText">
        Although I have no professional work experience in web design/development, I am profecient using Django, Wix, Wordpress. I also have experience in Photoshop, Illustrator and CorelDraw.<br><br> 
    </p>
    <div class="row" id="linea-exp">
        <div class="col-sm">
            <img src="{% static 'portfo_app/linea.jpg' %}" alt="" width="100%">
        </div>
        <div class="col-sm" id="linea-text">
            <h4><a id="linea-text-a" href="www.lineaclassica.co.za">www.lineaclassica.co.za</a></h4>
            <p> Lineaclassica is a furniture distributor in the heart of Jo'burg. I rebranded the whole website using what the customer already had. </p>
        </div>
    </div>
</div>
{% endblock body %}
