{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<title>Home</title>
    <div class="container" id="hiMyNameIs">
        <h2 id="hiMyNameIsP">Hi. My name is </h2>
        <h1 id="hiMyNameIsH1">Mikyle Kruger</h1>
        <h1 id="iBuildThings">I build things for the web.</h1>
    </div>
    <div class="container" id="homePageInfo">
        <p>I am a Junior Python Developer, specializing in Django, CSS and HTML.</p>
    </div>
    <div class="container">
    </div>
{% endblock body %}
