{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<div class="container" id="projects">
    <h1><span id="numbers">03.</span>Projects</h1>
    <div class="row">
        <div class="col-sm text-center m-1" id="folders">
        <h4>fictional-octo-couscous</h4>
        <p>Stream Movies/Series For Free</p>
        </div>
        <div class="col-sm text-center m-1" id="folders">
            <h4>tgram_ytbot</h4>
            <p>Download Music or Music Videos from a Telegram Bot</p>
        </div>
        <div class="col-sm text-center m-1" id="folders">
            <h4>musical-octo-waffle</h4>
            <p>Make Your Linux Distro Look Like Mine</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center m-1" id="folders">
        <h3>hacki_tools</h3>
        <img src="{% static 'portfo_app/hacki_tools.png' %}" alt="" width="100%">
        <p>Pentesting Tools with Python</p>
        </div>
        <div class="col-sm text-center m-1" id="folders">
            <h4>improved-carnival</h4>
            <p>This Website with Django</p>
            <small>No Secret Keys for You</small>
        </div>
        <div class="col-sm text-center m-1" id="folders">
            <h4>password_checker</h4>
            <p>See If Your Password Has Ever Been Leaked.</p>
        </div>
    </div>
</div>
{% endblock body %}
