{% extends 'portfo_app/base.html' %}
{% load static %}

{% block body %}
<div class="container" id="projects">
    <h1><span id="numbers">04.</span>Projects</h1>
    <div class="row">
        <div class="col-lg-8 text-center m-lg-1 p-3" id="folders-1">
            <h4>fictional-octo-couscous</h4>
            <img src="{% static 'portfo_app/tpb.jpg' %}" alt="" width="100%">
            <p class="mt-5">Stream Movies/Series For Free</p>
        </div>
        <div class="col-lg text-center m-lg-1 p-lg-3" id="folders-1">
            <h4>tgram_ytbot</h4>
            <img src="{% static 'portfo_app/IMG_6027.png' %}" alt="" width="60%">
            <p class="mt-2">Download Music or Music Videos from a Telegram Bot</p>
        </div>
    </div>
    <div class="row">
        <div class="row col-auto">
            <div class="col-auto text-center m-lg-1 p-lg-3 m-sm-1 p-sm-1" id="folders">
                <h4>musical-octo-waffle</h4>
                <img src="{% static 'portfo_app/screenshot.png' %}" alt="" width="100%">
                <p class="mt-2">Make Your Linux Distro Look Like Mine</p>
            </div>
            <div class="col-auto text-center m-lg-1 p-lg-3" id="folders">
                <h4>hacki_tools</h4>
                <img src="{% static 'portfo_app/hacki_tools.png' %}" alt="" width="100%">
                <p class="mt-2">Pentesting Tools with Python</p>
            </div>
            <div class="col-auto text-center m-lg-1 p-lg-3" id="folders">
                <h4>improved-carnival</h4>
                <img src="{% static 'portfo_app/screenshotDjango.jpg' %}" alt="" width="100%">
                <p class="mt-2">This Website with Django</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
